html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
main {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    width: 300px;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
}
th, td {
    padding: 5px;
    max-width: 200px;
}
h1 {
    text-align: center;
    margin: 0%;
}
p, h1, h2, h3, h4, h5, h6, li, dt, dd {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
a:hover {
    color: black;
    font-weight: bold;
}
img {
    border: 5px solid black;
}
span {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}