/* General setup */
@font-face {
  font-family: 'cantarell';
  src: url('fonts/cantarell/Cantarell-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'cantarellBold';
  src: url('fonts/cantarell/Cantarell-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'cantarell';
  font-size: 12px;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 4px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}
/* WRITE YOUR CODE BELOW HERE */

section h2 + p {
  text-indent: 20px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 12px;
  margin: 1em 0;
}

header {
  text-align: center;
  font-size: 20px;
  font-family: 'cantarellBold';
  letter-spacing: 2px;
}

footer {
  font-size: 10px;
  text-align: justify;
  margin: 0;
  border-top: 1px solid grey;
}

a {
  color: #a66;
  
}

a:visited {
  color: rgb(112, 66, 66);
}

a:hover {
  color: rgb(249, 73, 73);
  text-decoration: none;
}

a:focus {
  color: rgb(249, 73, 73);
  text-decoration: none;
}

a:active {
  color: rgb(249, 73, 73);
  text-decoration: none;
  font-weight: bold;
}

a.external-link::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('external-link-52.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 2px;
}

li {
  line-height: 1.5;
}

ul li {
  list-style: circle;
}

ol li {
  list-style: lower-alpha;
}

ul, ol, dl {
  margin: 1em 0;
}

nav ul {
  list-style: none;
  justify-content: center; 
  text-align: center;
  
}
nav li {
  margin: 10%;
  list-style: none;
  border: 1px solid #a66;;
  padding: 12px;
  width: 100%;
}

nav a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #a66;
  text-decoration: none;
}

nav li a:visited {
  color: #a66;
}

nav li:hover a {
  color: #a66;
  font-weight: bold;
}

nav li:hover {
  border: 2px solid #a66;;
}